.projects__container {
    position: relative;
    margin: 20dvh 60dvh auto auto;
    top: 24dvh;
    z-index: 1;
    width: 54%;
}

.projects__container h2 {
    margin-bottom: 5%;
}

.projects__row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    transition: all 0.3s ease;
    &:hover {
        text-shadow: 0 0 1.15px rgba(224, 224, 224, 0.6);
        font-weight: 400;
        
        .projects__image::after {
            opacity: 1;
        }

        .projects__img {
            transform: rotateY(0deg) translateZ(0);
            box-shadow: 4.5px 4.5px 0px rgba(255, 255, 255, 0.2); 
            filter: saturate(1);   
            
        }
    }
}

.projects__image {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    &::after {
        transition: opacity .25s ease-in-out;
        content: 'Click para visitar';
        position: absolute;
        width: fit-content;
        bottom: -2rem;
        color: #e0e0e0;
        font-size: 14px;
        opacity: 0;
        z-index: 0;
    }
}

.projects__link {
    perspective: 1000px;
    display: flex;
    justify-content: end;
}

.projects__img {
    width: 100%;
    height: 135px;
    filter: saturate(0.1);
    box-shadow: 6.5px 6.5px 2px rgba(255, 255, 255, 0.19); 
    border-radius: 3px;
    transform: rotateY(-33deg) translateZ(20px);
    transition: all 0.3s ease, box-shadow 0.2s ease;
    z-index: 1;
    cursor: pointer;
}

.projects__title {
    margin: 0
}

.projects__subtitle {
    font-weight: 600;
    margin: 16px auto 16px auto;
}

.projects__description {
    width: 60%;
}
