.references__container {
  position: relative;
  gap: 20px;
  margin: 0 0 0 15%;
  z-index: 1;
  width: 71%;
}

.references__container h2 {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.references__container h3 {
  font-size: 1rem;
}

.references__container h4 {
  font-size: 0.8rem;
  margin: 5px 0 5px 0;
}

.references__container h5 {
  margin: 5px 0 15px 0;
}

.references__container p {
  font-size: 13px;
}

.references__row {
  margin-top: 30px;
}

.references__row hr {
  margin-bottom: 23px;
}

.references__name {
  margin-bottom: 5px;
}

.references__position {
  font-weight: 600;
  margin-top: 0;
}

.references__content {
  max-height: 220px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 360px) {

  .references__container h2 {
    font-size: 1.4rem;
  }

  .references__container h3 {
    font-size: 1.2rem;
    width: fit-content;
  }

  .references__container h4 {
    font-size: 1rem;
  }

  .references__container h5 {
    font-size: 0.8rem;
  }

  .references__container p {
    font-size: 13.5px;
  }

  .references__content {
    max-height: 250px;
  }
}

@media (min-width: 400px) {

  .references__container h2 {
    font-size: 1.55rem;
  }

  .references__container h3 {
    font-size: 1.3rem;
    width: fit-content;
  }

  .references__container h4 {
    font-size: 1.1rem;
  }

  .references__container h5 {
    font-size: 0.9rem;
  }

  .references__container p {
    font-size: 14.5px;
  }

  .references__content {
    max-height: 300px;
  }
}

@media screen and (orientation: landscape) and (min-width: 400px) {
  .references__container {
    width: 70%;
    margin: 28% 0 0 15%;
  }

  .references__container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .references__container h2 {
    font-size: 1.3rem;
    width: fit-content;
  }

  .references__container h3 {
    font-size: 1.1rem;
  }

  .references__container h4 {
    font-size: 0.9rem;
  }

  .references__container p {
    font-size: .9rem;
  }
}

@media (min-width: 768px) {
  .references__container {
    margin: 25% 0 0 15%;
  }

  .references__container h2 {
    font-size: 1.7rem;
  }

  .references__container h3 {
    font-size: 1.4rem;
    width: fit-content;
  }

  .references__container h4 {
    font-size: 1.2rem;
  }

  .references__container h5 {
    font-size: 1rem;
  }

  .references__container p {
    font-size: 1rem;
  }

  .references__content {
    max-height: 400px;
  }
}

@media screen and (orientation: landscape) and (min-width: 400px) {
  .references__container {
    margin: 17% 0 0 15%;
  }

  .references__container h2 {
    font-size: 1.55rem;
  }

  .references__container h3 {
    font-size: 1.3rem;
    width: fit-content;
  }

  .references__container h4 {
    font-size: 1.1rem;
  }

  .references__container h5 {
    font-size: 0.9rem;
  }

  .references__container p {
    font-size: 14.5px;
  }
}

@media (min-width: 1024px) {
  .references__container {
    margin: 20% 0 0 15%;
  }
}

@media (min-width: 1280px) {
  .references__container {
    margin-top: 15%;
  }
}

@media (min-width: 1366px) {
  .references__container {
    width: 70%;
    margin-top: 25%;
  }

  .references__container h2 {
    margin-bottom: 5%;
  }

  .references__row {
    margin-top: 5rem;
  }

  .references__name {
    margin-bottom: 5px;
  }

  .references__position {
    font-weight: 600;
    margin-top: 0;
  }
}

@media (min-width: 1920px) {
  .references__container {
    width: 60%;
  }

  .references__container h2 {
    font-size: 2.1rem;
  }

  .references__container h3 {
    font-size: 1.6rem;
  }

  .references__container h4 {
    font-size: 1.3rem;
  }

  .references__container h5 {
    font-size: 1.1rem;
  }

  .references__container p {
    font-size: 18px;
  }

  .references__row {
    margin-top: 7rem;
  }

  .references__name {
    margin-bottom: 5px;
  }
}
