.references__container {
  position: relative;
  margin: 0 0 12% 15%;
  width: clamp(60%, 60vw, 70%);
  z-index: 1;
}

.references__container h2 {
  font-size: clamp(1.5rem, 5.5vw, 3rem);
  margin-bottom: clamp(10px, 2vw, 5%);
}

.references__container h3 {
  font-size: clamp(1rem, 3.5vw, 1.6rem);
  width: fit-content;
}

.references__container h4 {
  font-size: clamp(0.9rem, 3vw, 1.3rem);
  margin: 5px 0;
}

.references__container h5 {
  font-size: clamp(0.9rem, 3vw, 1.3rem);
  margin: 5px 0 15px 0;
}

.references__container p {
  font-size: clamp(13px, 0.5rem + 2vw, 17.5px);
}

.references__row {
  margin-top: clamp(30px, 4vw, 7rem);
}

.references__row hr {
  margin-bottom: 23px;
}

.references__content {
  max-height: clamp(220px, 30vh, 400px);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.references__content::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  .references__container {
    width: 55vw;
  }
}

@media (min-width: 1920px) {
  .references__container {
    width: 60vw;
  }
}
