.skills__circles--container {
    position: relative;
    gap: 20px;
    margin: 20dvh 60dvh auto 14dvw;
    top: 24dvh;
    z-index: 1;
    width: 54%;
}

.skills__circles--container h2 {
    font-weight: 600;
}

.skills__circles--subcontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    overflow: hidden;
}

.skills__circles--wrapper {
    display: flex;
    gap: 0;
    margin-top: 4rem;
    transition: transform 750ms ease;
}

.skills__circles--Frontend,
.skills__circles--Backend,
.skills__circles--Tools {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}

.skills__circles--Frontend,
.skills__circles--Tools {
    animation: fadeIn 1150ms ease forwards !important;
}

.skills__circles--logosFrontend,
.skills__circles--logosBackend,
.skills__circles--logosTools {
        position: relative;
        margin-left: -5rem;
        margin-right: -5rem;
        width: 350px;
        height: 410px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: filter 0.3s ease;
        &:hover img {
            filter: saturate(1);
        }
        &:hover .skills__circles--logo::after {
            opacity: 1;
        }
    }

.skills__circles--logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: attr(data-name);
        position: relative;
        top: 45px;
        font-size: 15px;
        letter-spacing: .5px;
        font-family: Montserrat, sans-sediv;
        font-weight: 500;
        opacity: 0;
        transition: opacity 0.2s 0.3s ease-out;
    }
}

.skills__circles--logo img {
    position: absolute;
    width: 52px;
    height: 52px;
    filter: saturate(0.3);
    transition: ease-in-out 300ms;
}

.skills__circles--logosFrontend div:nth-child(2) { transform: rotate(0deg) translateY(-150px); }
.skills__circles--logosFrontend div:nth-child(3) { transform: rotate(90deg) translateY(-150px) rotate(-90deg); }
.skills__circles--logosFrontend div:nth-child(4) { transform: rotate(180deg) translateY(-150px) rotate(-180deg); }
.skills__circles--logosFrontend div:nth-child(5) { transform: rotate(270deg) translateY(-150px) rotate(-270deg); }
    
.skills__circles--logosBackend div:nth-child(2) { transform: rotate(0deg) translateY(-150px); }
.skills__circles--logosBackend div:nth-child(3) { transform: rotate(60deg) translateY(-150px) rotate(-60deg); }
.skills__circles--logosBackend div:nth-child(4) { transform: rotate(120deg) translateY(-150px) rotate(-120deg); }
.skills__circles--logosBackend div:nth-child(5) { transform: rotate(180deg) translateY(-150px) rotate(-180deg); }
.skills__circles--logosBackend div:nth-child(6) { transform: rotate(240deg) translateY(-150px) rotate(-240deg); }
.skills__circles--logosBackend div:nth-child(7) { transform: rotate(300deg) translateY(-150px) rotate(-300deg); }
    
.skills__circles--logosTools div:nth-child(2) { transform: rotate(0deg) translateY(-150px); }
.skills__circles--logosTools div:nth-child(3) { transform: rotate(90deg) translateY(-150px) rotate(-90deg); }
.skills__circles--logosTools div:nth-child(4) { transform: rotate(180deg) translateY(-150px) rotate(-180deg); }
.skills__circles--logosTools div:nth-child(5) { transform: rotate(270deg) translateY(-150px) rotate(-270deg); }

.skills__circles--buttons { 
    position: absolute;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.skills__circles--buttons img {
    cursor: pointer;
    width: 70px;
    opacity: 0.3;
    transition: opacity 0.5s ease;
    pointer-events: all;
    &:hover {
        opacity: 1;
    }
}

.skills__circles--buttons img:last-child {
    transform: rotate(180deg);
}

@media (min-width: 1920px) {
    .skills__circles--subcontainer {
        width: 65%;
    }
}