:root {
  --circle-size: clamp(250px, 40vw, 600px);
  --circle-radius: clamp(
    calc(var(--circle-size) / 4.5),
    10vh,
    calc(var(--circle-size) / 3.5)
  );
  --logo-size: clamp(42px, 8vw, 75px);
  --js-logo-size: clamp(34px, 6vw, 60px);
  --git-logo-size: clamp(74px, 4.5vw, 60px);
  --ts-logo-size: clamp(34px, 6vw, 60px);
  --button-size: clamp(35px, 10vw, 80px);
  --title-size: clamp(1.3rem, 2vw, 28px);
  --text-size: clamp(13px, 1.1vw, 16px);
  --label-size: clamp(13px, 4vw, 18px);
}

.skills__circles--container {
  position: relative;
  margin: 0 0 10% 15%;
  z-index: 1;
  width: clamp(60%, 70%, 70%);
}

.skills__circles--container h2 {
  font-weight: 600;
  font-size: clamp(1.5rem, 5.5vw, 3rem);
  margin-bottom: 10px;
}

.skills__circles--container h3 {
  font-size: clamp(13px, 0.5rem + 2vw, 26px);
}

.skills__circles--container p {
  font-size: clamp(13px, 0.5rem + 2vw, 17.5px);
}

.skills__circles--subcontainer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: clamp(2rem, 10vw, 4rem);
}

.skills__circles--wrapper {
  display: flex;
  width: 300%;
  gap: 0;
  transition: transform 750ms ease;
}

.skills__circles--Front,
.skills__circles--Back,
.skills__circles--Tools {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.skills__circles--logosFront,
.skills__circles--logosBack,
.skills__circles--logosTools {
  position: relative;
  margin-left: -5rem;
  margin-right: -5rem;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__circles--logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__circles--logo::after {
  content: attr(data-name);
  z-index: 1;
  position: absolute;
  top: calc(var(--logo-size) / 1.5);
  font-size: var(--label-size);
  letter-spacing: 0.5px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.2s 0.3s ease-out;
}

.skills__circles--logo img {
  position: absolute;
  width: var(--logo-size);
  height: var(--logo-size);
  filter: saturate(0.3);
  transition: ease-in-out 300ms;
}

.skills__circles--logo img[alt="JavaScript"] {
  width: var(--js-logo-size);
  height: var(--js-logo-size);
}

.skills__circles--logo img[alt="Git"] {
  width: var(--git-logo-size);
  height: var(--git-logo-size);
}
.skills__circles--logo img[alt="TypeScript"] {
  width: var(--ts-logo-size);
  height: var(--ts-logo-size);
}

.skills__circles--logo:hover img {
  filter: saturate(1);
}

.skills__circles--logo:hover::after {
  opacity: 1;
}

.skills__circles--logosFront div:nth-child(2) {
  transform: rotate(0deg) translateY(calc(var(--circle-radius) * -1));
}
.skills__circles--logosFront div:nth-child(3) {
  transform: rotate(60deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-60deg);
}
.skills__circles--logosFront div:nth-child(4) {
  transform: rotate(120deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-120deg);
}
.skills__circles--logosFront div:nth-child(5) {
  transform: rotate(180deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-180deg);
}
.skills__circles--logosFront div:nth-child(6) {
  transform: rotate(240deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-240deg);
}
.skills__circles--logosFront div:nth-child(7) {
  transform: rotate(300deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-300deg);
}

.skills__circles--logosBack div:nth-child(2) {
  transform: rotate(0deg) translateY(calc(var(--circle-radius) * -1));
}
.skills__circles--logosBack div:nth-child(3) {
  transform: rotate(60deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-60deg);
}
.skills__circles--logosBack div:nth-child(4) {
  transform: rotate(120deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-120deg);
}
.skills__circles--logosBack div:nth-child(5) {
  transform: rotate(180deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-180deg);
}
.skills__circles--logosBack div:nth-child(6) {
  transform: rotate(240deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-240deg);
}
.skills__circles--logosBack div:nth-child(7) {
  transform: rotate(300deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-300deg);
}

.skills__circles--logosTools div:nth-child(2) {
  transform: rotate(0deg) translateY(calc(var(--circle-radius) * -1));
}
.skills__circles--logosTools div:nth-child(3) {
  transform: rotate(90deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-90deg);
}
.skills__circles--logosTools div:nth-child(4) {
  transform: rotate(180deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-180deg);
}
.skills__circles--logosTools div:nth-child(5) {
  transform: rotate(270deg) translateY(calc(var(--circle-radius) * -1))
    rotate(-270deg);
}

.skills__circles--buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.skills__circles--buttons img {
  cursor: pointer;
  width: var(--button-size);
  opacity: 0.3;
  transition: opacity 0.5s ease;
  pointer-events: all;
}

.skills__circles--buttons img:hover {
  opacity: 1;
}

.skills__circles--buttons img:last-child {
  transform: rotate(180deg);
}

@media (min-width: 600px) {
  :root {
    --circle-radius: clamp(
      calc(var(--circle-size) / 3.5),
      10vh,
      calc(var(--circle-size) / 2.5)
    );
  }
}

@media (min-width: 1024px) {
  .skills__circles--container {
    width: 55vw;
  }
}

@media (min-width: 1920px) {
  .skills__circles--container {
    width: 60vw;
  }

  .skills__circles--buttons {
    width: 70%;
  }

  :root {
    --circle-radius: clamp(
      calc(var(--circle-size) / 3),
      10vh,
      calc(var(--circle-size) / 2)
    );
  }
}
