.ResDownBtn__container {
  position: fixed;
  top: 93%;
  right: 15%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 1150ms ease-in forwards;
  transition: 350ms ease;

  &::before {
    content: attr(data-tooltip);
    position: relative;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #e0e0e0;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s ease;
  }
  &:hover::before {
    opacity: 1;
  }
}

.ResDownBtn__img {
  width: 29px;
  opacity: 0.7;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 1;
  }
}

.toCorner {
  transform: translateX(40%);
}

@media (min-width: 360px) {
  .ResDownBtn__container {
    top: 93.5%;
  }

  .ResDownBtn__img {
    width: 36px;
  }
}

@media (min-width: 360px) and (min-height: 800px) {
  .ResDownBtn__container {
    top: 94.5%;
  }
}

@media (min-width: 400px) {
  .ResDownBtn__container {
    top: 93%;
  }

  .ResDownBtn__img {
    width: 43px;
  }

  .toCorner {
    transform: translateX(47%);
  }
}

@media (min-width: 400px) and (min-height: 800px) {
  .ResDownBtn__container {
    right: 16%;
    top: 94%;
  }
}

@media screen and (orientation: landscape) and (min-width: 400px) {
  .ResDownBtn__container {
    top: 86%;
    width: 35%;
  }

  .ResDownBtn__img {
    width: 38px;
  }

  .toCorner {
    transform: translateX(2.5rem);
  }
}

@media screen and (orientation: landscape) and (min-width: 480px) {
  .ResDownBtn__container {
    top: 87%;
    width: 26%;
    right: 8%;
  }

  .toCorner {
    transform: translateX(35%);
  }
}

@media screen and (orientation: landscape) and (min-width: 560px) {
  .ResDownBtn__container {
    right: 4%;
  }
}

@media (min-width: 600px) {
  .ResDownBtn__container {
    top: 94%;
  }

  .ResDownBtn__img {
    width: 52px;
  }

  .toCorner {
    transform: translateX(70%);
  }
}

@media screen and (orientation: landscape) and (min-width: 640px) {
  .ResDownBtn__container {
    right: 0;
  }
  
  .toCorner {
    transform: translateX(30%);
  }
}

@media (min-width: 700px) {
  .ResDownBtn__container {
    top: 95%;
  }

  .ResDownBtn__img {
    width: 50px;
  }

  .toCorner {
    transform: translateX(85%);
  }
}

@media screen and (orientation: landscape) and (min-width: 720px) {
  .ResDownBtn__container {
    top: 89%;
    right: -2%;
  }

  .toCorner {
    transform: translateX(3.3rem);
  }
}

@media (min-width: 768px) {
  .ResDownBtn__container {
    top: 94%;
    right: 11%;
  }
  
  .toCorner {
    transform: translateX(5rem);
  }
}

@media screen and (orientation: landscape) and (min-width: 768px) {
  .ResDownBtn__container {
    top: 87%;
    right: 0%;
  }

  .toCorner {
    transform: translateX(4.7rem);
  }
}

@media screen and (orientation: landscape) and (min-width: 900px) {
  .ResDownBtn__container {
    right: -4%;
  }
}

@media (min-width: 960px) {
  .ResDownBtn__container {
    top: 90%;
  }
  
  .toCorner {
    transform: translateX(5rem);
  }
}

@media (min-width: 1024px) {
  .ResDownBtn__container {
    position: fixed;
    top: 91%;
    width: 21%;
    right: 0;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1150ms ease-in forwards;
    transition: 350ms ease;

    &::before {
      content: attr(data-tooltip);
      position: relative;
      bottom: 15px;
      right: 12px;
      font-size: 14px;
      color: #e0e0e0;
      opacity: 0;
      z-index: -1;
      transition: opacity 0.5s ease;
    }
    &:hover::before {
      opacity: 1;
    }
  }

  .ResDownBtn__img {
    width: 50px;
    opacity: 0.7;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 1;
    }
  }

  .toCorner {
    transform: translateX(4.5rem);
  }
}

@media (min-width: 1120px) {
  .ResDownBtn__container {
    top: 92%;
  }

  .toCorner {
    transform: translateX(6rem);
  }
}

@media (min-width: 1024px) and (min-height: 1366px) {
  .ResDownBtn__container {
    top: 95%;
  }
}

@media (min-width: 1200px) {
  .ResDownBtn__container {
    width: 18%;
  }

  .toCorner {
    transform: translateX(4.5rem);
  }
}

@media (min-width: 1280px) {
  .ResDownBtn__container {
    width: 18%;
  }

  .toCorner {
    transform: translateX(5.5rem);
  }
}

@media (min-width: 1366px) {
  .ResDownBtn__container {
    top: 90%;
  }

  .ResDownBtn__img {
    width: 55px;
  }

  .toCorner {
    transform: translateX(6rem);
  }
}

@media (min-width: 1440px) {
  .ResDownBtn__container {
    top: 91%;
    width: 17%;
  }

  .toCorner {
    transform: translateX(5rem);
  }
}

@media (min-width: 1600px) {
  .ResDownBtn__img {
    width: 67px;
  }
}

@media (min-width: 1920px) {
  .ResDownBtn__container {
    top: 91%;
    width: 15%;
  }

  .toCorner {
    transform: translateX(7.5rem);
  }

  .ResDownBtn__img {
    width: 75px;
  }
}
