@keyframes upDownBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(clamp(8px, 1vw, 14px));
  }
  100% {
    transform: translateY(0);
  }
}

.downChevron__container {
  opacity: 0;
  animation: fadeIn 1150ms ease 1150ms forwards !important;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

.downChevron {
  opacity: 0.7;
  width: clamp(40px, 2.5rem + 3vw, 110px);
  animation: upDownBounce 3000ms ease-in-out 500ms infinite;
}

.fadeOut {
  animation: fadeOut 300ms ease !important;
}
