@keyframes upDownBounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
    
}

.downChevron__container {
    opacity: 0;
    animation: fadeIn 1150ms ease 1150ms forwards !important;
    position: absolute;
    right: 3%;
    bottom: 0;
}

.downChevron {
    width: 80px;
    opacity: .8;
    animation: upDownBounce 3000ms ease-in-out 500ms infinite;
}

.fadeOut {
    animation: fadeOut 300ms ease !important;
}