.callToAction {
   position: relative;
   margin: 16dvh 60dvh auto 14dvw;
   top: 24dvh;
   z-index: 1;
   width: 54%;
}

.callToAction h2 {
  margin-bottom: 5%;
}

.callToAction__options {
   margin-top: 11%;
   display: flex;
   justify-content: start;
   gap: 3rem;
}

.callToAction__button {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
    width: 10rem;
    text-align: center;
    color: #e0e0e0cc;
    border: 1px solid #0fc1d8;
    background-color: #e0e0e042;
    border-radius: .1rem 1rem;
    transition: 350ms ease-in-out;
    font-family: Roboto Mono, sans-serif;

    &::before {
      content: '';
      position: absolute;
      left: -10dvh;
      width: 0;
      height: 50px;
      background-color: #c0c0c0;
      transition: 400ms ease-in-out;
      z-index: -1;
  }

    &:hover {
        color: #242424;
        border: 1px solid transparent;

        &::before {
            width: 200%;
        }
    }
}