.callToAction {
   position: relative;
   margin: 16dvh auto auto auto;
   top: 16dvh;
   z-index: 1;
   width: 54%;
   padding-left: 3rem;
}

.callToAction h2 {
  margin-bottom: 7%;
}

.callToAction__options {
   margin-top: 11%;
   display: flex;
   justify-content: start;
   gap: 3rem;
}

.callToAction__button {
    width: 10rem;
    text-align: center;
    align-content: center;
    color: #e0e0e0cc;
    border: 1px solid #0fc1d8;
    background-color: #e0e0e042;
    border-radius: 1rem .25rem;
    transition: 350ms ease-in-out;
    font-family: Roboto Mono, sans-serif;

    &:hover {
        color: #242424;
        background-color: #c0c0c0;
        border: 1px solid transparent;
    }
}