.langSwitch__container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  opacity: 0.8;
  transform: scaleX(-1);
}

.langSwitch__dropDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 0px;
  width: 26px;
  height: 26px;
  border-radius: 12px;
  background: #2c2f4a;
  transition: height 200ms ease;
}

.langSwitch__option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &:hover {
    .langSwitch__globe {
      transform: rotate(180deg);
    }
    .langSwitch__current {
      opacity: 1;
    }
    .langSwitch__dropDown {
      height: 4.15rem;
    }
    .langSwitch__lang {
      top: 1.2rem;
    }
  }
}

.langSwitch__current {
  font-weight: 600;
  opacity: 0.5;
  transition: opacity 250ms ease;
  font-size: 13px;
  transform: scaleX(-1);
}

.langSwitch__globe--container {
  box-shadow: 1px 1px 10px 4px #3e034e;
  border-radius: 50%;
  z-index: 2;
  height: 26px;
  width: 26px;
}

.langSwitch__globe {
  width: 26px;
  height: 26px;
  position: relative;
  background: #2a0235;
  border-radius: 50%;
  transition: transform 250ms ease;
}

.langSwitch__lang {
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 500ms ease;
  font-weight: 500;
  border-radius: 50%;
  opacity: 0.5;
  position: relative;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 1;
  }
}

@media (min-width: 360px) {
  .langSwitch__current {
    font-size: 14px;
  }

  .langSwitch__globe {
    width: 35px;
    height: 35px;
  }

  .langSwitch__globe--container {
    height: 35px;
    width: 35px;
  }

  .langSwitch__dropDown {
    width: 30px;
    height: 30px;
    top: 4px;
    left: 2.5px;
  }

  .langSwitch__lang {
    width: 25px;
    height: 25px;
  }

  .langSwitch__option:hover {
    .langSwitch__dropDown {
      height: 4.5rem;
    }
    .langSwitch__lang {
      top: 1.3rem;
    }
  }
}

@media (min-width: 400px) {
  .langSwitch__current {
    font-size: 15px;
  }

  .langSwitch__globe {
    width: 40px;
    height: 40px;
  }

  .langSwitch__globe--container {
    height: 40px;
    width: 40px;
  }

  .langSwitch__dropDown {
    width: 35px;
    height: 35px;
    top: 5px;
    left: 2.5px;
  }

  .langSwitch__lang {
    width: 25px;
    height: 25px;
  }

  .langSwitch__option:hover {
    .langSwitch__dropDown {
      height: 5rem;
    }
    .langSwitch__lang {
      top: 1.55rem;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: 400px) {
  .langSwitch__globe {
    width: 32px;
    height: 32px;
  }

  .langSwitch__globe--container {
    height: 32px;
    width: 32px;
  }

  .langSwitch__dropDown {
    width: 27px;
    height: 27px;
    top: 4px;
    left: 2px;
  }

  .langSwitch__lang {
    width: 23px;
    height: 23px;
  }

  .langSwitch__current {
    font-size: 13px;
  }

  .langSwitch__option:hover {
    .langSwitch__dropDown {
      height: 4.5rem;
    }
    .langSwitch__lang {
      top: 1.3rem;
    }
  }
}

@media (min-width: 768px) {
  .langSwitch__current {
    font-size: 16px;
  }

  .langSwitch__globe {
    width: 45px;
    height: 45px;
  }

  .langSwitch__globe--container {
    height: 45px;
    width: 45px;
  }

  .langSwitch__dropDown {
    width: 40px;
    height: 35px;
    top: 5px;
    left: 3px;
  }

  .langSwitch__lang {
    width: 30px;
    height: 30px;
  }

  .langSwitch__option:hover {
    .langSwitch__dropDown {
      height: 6rem;
    }
    .langSwitch__lang {
      top: 1.7rem;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: 768px) {
  .langSwitch__globe {
    width: 40px;
    height: 40px;
  }

  .langSwitch__globe--container {
    height: 40px;
    width: 40px;
  }

  .langSwitch__dropDown {
    width: 33px;
    height: 33px;
    top: 4px;
    left: 4px;
  }

  .langSwitch__lang {
    width: 28px;
    height: 28px;
  }

  .langSwitch__current {
    font-size: 15px;
  }

  .langSwitch__option:hover {
    .langSwitch__dropDown {
      height: 5rem;
    }
    .langSwitch__lang {
      top: 1.4rem;
    }
  }
}

@media (min-width: 1024px) {
  .langSwitch__current {
    font-size: 15px;
  }

  .langSwitch__globe {
    width: 41px;
    height: 41px;
  }

  .langSwitch__globe--container {
    height: 41px;
    width: 41px;
  }

  .langSwitch__dropDown {
    width: 36px;
    height: 32px;
    top: 7px;
    left: 3px;
  }

  .langSwitch__lang {
    width: 28px;
    height: 28px;
  }

  .langSwitch__option:hover {
    .langSwitch__dropDown {
      height: 5rem;
    }
    .langSwitch__lang {
      top: 1.4rem;
    }
  }
}

@media (min-width: 1366px) {
  
}


@media (min-width: 1920px) {
  .langSwitch__current {
    font-size: 16px;
  }

  .langSwitch__globe {
    width: 50px;
    height: 50px;
  }

  .langSwitch__globe--container {
    height: 50px;
    width: 50px;
  }

  .langSwitch__dropDown {
    width: 40px;
    height: 36px;
    top: 7px;
    left: 6px;
  }

  .langSwitch__lang {
    width: 32px;
    height: 32px;
  }

  .langSwitch__option:hover {
    .langSwitch__dropDown {
      height: 6.25rem;
    }
    .langSwitch__lang {
      top: 1.8rem;
    }
  }
}