@keyframes fadeInitialPos {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes goToTimeline {
   from {
      transform: translate(0, 0);
   }
   to {
      transform: translate(-10rem, 42rem);
   }
}

@keyframes returnFromTimeline {
   from {
      transform: translate(-10rem, 42rem);
   }
   to {
      transform: translate(0, 0);
   }
}

@keyframes goToCTA {
   from {
      transform: translate(-10rem, 42rem);
   }
   to {
      transform: translate(4rem, 82rem);
   }
}

@keyframes returnFromCTA {
   from {
      transform: translate(4rem, 82rem);
   }
   to {
      transform: translate(-10rem, 42rem);
   }
}

.wgrobot__container {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   right: 0;
   width: 40.3%;
   height: 89%;
   background: radial-gradient(
      circle at center,
      rgba(128, 0, 128, 1) -30%,
      rgba(5, 7, 36, 0) 67.5%
   );
   z-index: 2;
}

.chat__container {
   font-size: 1rem;
   font-weight: 500;
   padding-left: .5rem;
   display: none;
   flex-direction: column;
   position: absolute;
   top: 1rem;
   right: 23rem;
   z-index: 1;
   width: 60%;
   height: 70%;
   transition: opacity 0.5s ease;
}

.answer__container {
   position: relative;
   top: .5rem;
   left: 4rem;
   max-width: 300px;
   padding: 15px;
   background-color: #f0dbac;
   color: white;
   border-radius: 50%;
   font-size: 16px;
   line-height: 1.5;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   flex-direction: column;
   display: flex;
   justify-content: end;
}

.answer__container::after {
   content: '';
   position: absolute;
   right: -20px;
   width: 0;
   height: 0;
   border-width: 2.5rem;
   border-style: solid;
   border-color: #f0dbac transparent transparent transparent;
   transform: rotate(-35deg);
   bottom: -30px;
}

.answer__text {
   max-height: 5rem;
   font-size: 0.9rem;
   font-weight: 400;
   margin: .5rem 1.5rem 1rem 3rem;
   overflow-y: scroll;
   color: #000;
}

.answer__header {
   font-size: 1.1rem;
   font-weight: 600;
   text-shadow: #000 0px 0px 30px;
   padding-left: 3rem;
   margin: 0;
   letter-spacing: 0.5px;
   margin-top: .5rem;
}

.textarea__container {
   display: flex;
   flex-direction: column;
   font-size: Montserrat, sans-serif;
   gap: 1.52rem;
   top: 17.2rem;
   left: .5rem;
   position: absolute;
   width: 100%;
}

.textarea__line {
   background-color: #f9f9f9a2;
   border: 1px solid #ccc;
   color: rgba(0, 0, 0, 0.664);
   font-weight: 700;
   font-size: .9rem;
   font-family: Montserrat;
   letter-spacing: .95px;
   padding: 0 .5rem 0 .5rem;
   width: 60%;
   height: 1rem;
   border-radius: .5rem;
   border-color: transparent;
   height: auto;
   min-height: 2.1rem;
   max-height: 5rem;
   overflow-y: auto;
   word-wrap: break-word;
   white-space: pre-wrap;
   align-self: end;
   align-content: center;

   &:focus{
      outline: none;
   }
}

.textarea__container button {
   align-self: end;
   position: relative;
   font-size: 15px;
   cursor: pointer;
   height: 2.5rem;
   width: 6.5rem;
   padding: 0;
}

.wgrobot {
   width: 70%;
   z-index: 2;
   cursor: pointer;
   clip-path: ellipse(90px 131px at 208px 203px);
}

.wgrobot--initialPos {
   animation: fadeInitialPos 1500ms ease-in forwards;
}

.wgrobot--goToTimeline {
   animation: goToTimeline 700ms ease-in-out forwards;
}

.wgrobot--returnFromTimeline {
   animation: returnFromTimeline 700ms ease-in-out forwards;
}

.wgrobot--goToCTA {
   animation: goToCTA 700ms ease-in-out forwards;
}

.wgrobot--returnFromCTA {
   animation: returnFromCTA 700ms ease-in-out forwards;
}

.wgrobot--stayEnd {
   transform: translate(2.5rem, 65rem);
}

.wgrobot--stayStart {
   transform: translate(0, 0);
}