h2, h3, h4 {
    font-family: Montserrat, sans-serif;
}

.timeline__container {
    width: 50dvw;
}

.timeline {
    position: relative;
    margin: 16dvh auto auto auto;
    top: 5dvh;
    z-index: 1;
    width: 54%;
    padding-left: 3rem;
}