.footer__container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20dvh;
  margin-top: clamp(6rem, 10vw, 20rem);
}

.footer__subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: clamp(80%, 85%, 100%);
}

.footer__line {
  border: 0;
  position: relative;
  height: 2px;
  width: clamp(85%, 88vw, 90%);
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    rgba(224, 224, 224, 0),
    rgba(224, 224, 224, 0.75),
    rgba(224, 224, 224, 0)
  );
  box-shadow: 0 0 clamp(8px, 1vw, 15px) clamp(3px, 0.6vw, 6px) #470355;
}

.footer__text {
  font-size: clamp(0.6rem, 4vw, 1rem);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  margin-bottom: clamp(0.8rem, 1vw, 1.2rem);
}

.footer__text--emoji {
  padding-left: 5px;
}
