.dataWidget {
    position: fixed;
    top: 5dvh;
    right: 3rem;
    z-index: 3;
}

.dataWidget__container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dataWidget__button {
    cursor: pointer;
}

.dataWidget__button img {
    width: 3rem;
    height: 3rem;
    opacity: .8;
    transition: ease-in-out 300ms;

    &:hover {
        opacity: 1;
        scale: 1.1;
    }
}

 @media (1024px <= width <= 1199px) {
    .dataWidget {
        right: 4rem;
    }
}