@keyframes rippleEffect {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.clickRipple__container {
  width: 80%;
  height: 70%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.ripple__first,
.ripple__second {
  width: inherit;
  height: inherit;
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}

.ripple__first {
  animation: rippleEffect 1.5s ease forwards;
}

.ripple__second {
  animation: rippleEffect 3s ease forwards;
}

@media (min-width: 1366px) {
  .clickRipple__container {
    width: 70%;
    height: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .ripple__first,
  .ripple__second {
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
  }

  .ripple__first {
    animation: rippleEffect 1.5s ease forwards;
  }

  .ripple__second {
    animation: rippleEffect 3s ease forwards;
  }
}

@media (min-width: 1920px) {
  .ripple__first,
  .ripple__second {
    height: 60%;
  }
}
