@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.App {
  animation: fadeIn 800ms;
}

h1,
h2,
h3 {
  font-family: Montserrat, sans-serif;
  color: #e0e0e0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-family:
    Roboto Mono,
    monospace;
  color: #c0c0c0;
  margin: 0;
  line-height: 1.65;
}

.text-highlightB,
.text-highlightA {
  font-weight: 475;
}

.text-highlightA {
  color: #df56ff;
}

.text-highlightB {
  color: #0fc1d8;
}

.fadeIn {
  animation: fadeIn 500ms ease;
}

.fadeOut {
  animation: fadeOut 300ms ease;
}

.hidden {
  display: none;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(224, 224, 224, 0),
    rgba(224, 224, 224, 0.75),
    rgba(224, 224, 224, 0)
  );
  margin-top: 10%;
}
