.mainInfo {
    position: relative;
    top: 5dvh;
    z-index: 1;
    width: 54%;
    padding-left: 10%;
}

.mainInfo__title h1 {
    margin-bottom: 0;
    font-weight: 600;
}

.mainInfo__title h2 {
    margin-top: .5rem;
    margin-bottom: 0;
    font-weight: 400;
}

.mainInfo h3 {
    margin-top: 2.4rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

@media (1024px <= width <= 1280px) {
    .mainInfo {
        padding-left: 8%;
    }
}

@media (1200px <= width <= 1279px) {
    .mainInfo__info {
        overflow-y: scroll;
        height: 25rem;
    }
}

@media (1024px <= width <= 1199px) {
    
    .mainInfo__info {
        overflow-y: scroll;
        height: 19.5rem;
    }
}
